/* 
.Sent{
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 60px;
    text-align: center;
}


.Address, .Contact, .Email {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 15px;
}


.Name1, .Name2, .Name3 {
    font-weight: bold;
    font-size: 18px;
    color: #d32f2f;
    min-width: 80px;
}

.Line1, .No1, .mail {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
}


@media (max-width: 500px) {
    .Section1 {
        text-align: center;
        padding: 20px;
    }

    .Address, .Contact, .Email {
        flex-direction: column;
        align-items: center;
        
    }

    .Name1, .Name2, .Name3 {
        min-width: auto;
    }
}



.Section2 {
    flex: 1;
    display: flex;
    justify-content: center;
}


.Form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.Input, .TextArea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}


.Input:focus, .TextArea:focus {
    border-width: 1.3px;
    border-color: #d32f2f;
    box-shadow: 0 0 10px rgba(211, 47, 47, 0.5);
}


.TextArea {
    height: 100px;
    resize: none;
}


.Button {
    padding: 12px;
    background: #d32f2f;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.Button:hover {
    background: #a12727;
}


@media (max-width: 900px) {
    .Container {
        flex-direction: column;
        text-align: center;
        padding: 30px;
        gap: 30px;
    }

    .Section1 {
        text-align: center;
    }

    .Address, .Contact, .Email {
        justify-content: center;
    }

    .Form {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .Container {
        padding: 20px;
    }

    .Input, .TextArea {
        font-size: 14px;
    }

    .Button {
        font-size: 16px;
    }
}  */
